.innerBodyWrapper {
    display: flex;
}

.ingredientsWrapper {
    padding: 0 15px 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 2rem;
    padding-bottom: 15px;
}

.ingredientsList, .amountList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientsListItem, .amountListItem {
    padding: 5px 0;
    font-size: 1.4rem;
}

.numberFormWrapper {
    padding-top: 25px;
}

.numbersForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.primaryFormInput {
    font-size: 1.6rem;
    width: 150%;
    padding: 10px;
    border: 2px solid var(--BLACK);
    border-radius: 5px;
}

.primaryFormSubmit {
    font-size: 1.4rem;
    margin-top: 25px;
    padding: 5px;
    width: 75%;
    border: 2px solid var(--BLACK);
    border-radius: 5px;
    text-align: center;
}

.primaryFormSubmit:hover {
    box-shadow: 0 0 5px 3px var(--GREY);
}
